* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(http://hdwarena.com/wp-content/uploads/2016/12/hd-lake-wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
header {
  width: 100%;
  /* display: flex; */
  padding: 0.5vw 0 0.5vw 0;
  background-color: rgb(0, 0, 0, 0.2);
}
img {
  width: 6vw;
  opacity: 0.5;
}
section {
  width: 100%;
  height: 500px;
}
.input {
  margin: 0 0 0 3vw;
}
.board {
  border: none;
  background: transparent;
  font-size: 2vw;
  color: white;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.list-box {
  width: 20vw;
  margin: 2vw 0 0 3vw;
  background-color: #ebe9e9;
  border-radius: 2%;
  padding: 0.5vw 0.5vw 0.5vw 0.5vw;
}
.list-title {
  color: black;
  font-size: 1.2vw;
}
.list-header {
  display: flex;
  /* border: black solid 1px; */
  align-items: center;
}
.list-header button {
  font-weight: bolder;
  font-size: 1vw;
}
#list {
  max-height: 21vw;
  overflow: scroll;
}
.card {
  font-weight: lighter;
  font-size: 1vw;
  padding: 0.5vw 1vw 0.5vw 1vw;
  margin-bottom: 1vw;
}
.check {
  width: 3vw;
  border-radius: 10%;
  margin-top: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-card {
  color: gray;
  margin-top: 1vw;
}
.add-card-menu-input {
  background: transparent;
  border: none;
  padding: 0 0 2vw 0.5vw;
}
.add-card-menu {
  margin: 0 0 1vw 0;
}
.button-add,
.button-close {
  font-size: 1vw;
}
.add-card-form {
  display: none;
}
.card-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.delete-card {
  margin-top: 1vw;
  color: gray;
}

.add-check-list-form {
  width: 20vw;
  display: none;
}
.add-check-list-menu-input {
  padding: 0.5vw 0 0.5vw 0;
  color: gray;
}
.check-list {
  margin: 1vw 0 2vw 0;
  max-height: 35vw;
  overflow: scroll;
}
.check-list-added {
  margin: 1vw 0 1vw 0;
}
.check-list-buttons {
  display: flex;
}
.add-checklist-item {
  width: 9vw;
  margin-right: 1vw;
}
.delete-checklist {
  padding: 0.2vw 0.5vw 0.2vw 0.5vw;
  margin-right: 2vw;
  width: 2vw;
}
.add-check-list-item-input {
  width: 20vw;
  margin-bottom: 2vw;
}
.add-check-list-item-form {
  display: none;
}
.items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
